@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/roboto/Roboto-BlackItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/roboto/Montserrat-Regular.otf);
}


body{
    font-family: Roboto;
    font-weight: light;
    font-size: 1em;
}

.clearfix{
    overflow: auto;
}

.top-nav{
    border: 1px solid green;
    padding: 0;
    padding: 5px 0px;

}

.container-fluid{
    border-bottom: 1px solid lightgrey;
    padding: 0px 100px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: #0000FF;
}

.tiny{
    font-size: 1.3rem;
}

#nav-bar {
    float: right;
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid red;
    /*background-color: white;*/
    vertical-align: center;
}

#nav-bar li {
    float: left;
    border: 1px solid grey;

}

#nav-bar li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav-bar li:last-child a {
    padding-right: 5px;
}


#nav-bar li a:hover, .dropdown:hover .dropbtn {
    /*background-color: red;*/
    color: #00afe5;
}

#nav-bar li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
