@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/roboto/Roboto-BlackItalic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto/Roboto-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/montserrat/Montserrat-Light.otf);
    font-weight: lighter;
}

body{
    font-family: Roboto;
}

/*.navbar-inverse .container-fluid{
    width: 100%;
}*/

.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #fff;
    color: #424242;
    padding: 1% 0;
    font-size: 1.2em;
    font-family: sans-serif;
    border: 0;
    border-bottom: 1px solid #E0E0E0;
}

.navbar-brand{
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-brand img{
    max-width: 200px;
}

.btn-bar{
    padding: 5px 10px;
    border: 1px solid #212121;
    color: #212121;
    font-size: 15px;
}

.btn-bar:visited, .btn-bar:active, .btn-bar:link, .btn-bar:hover{
    color: #fff;
}

.navbar .navbar-nav li a{
    color: #616161;
    font-size: 0.95em;
}

.navbar .navbar-nav li a:hover{
    color: #212121;
}

.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus{
    background: none;
}

.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:focus,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:visited{
    color: #212121;
    background: #fff;
}

#top-nav{
    font-size: 15px;
    font-family: Roboto;
    position: relative;
}

#top-nav p{
    float: left;
    font-size: 12px;
    margin-left: 35px;
}

#top-nav p a{
    color: #212121;
}


#top-nav ul{
    float: right;
}

#top-nav ul{
    padding: 0;
    margin: 0;
}

#top-nav ul li{
    list-style: none;
    float: left;
    padding: 0;
    padding-right: 20px;
}
#top-nav ul li:last-child{
    padding-right: 0px;
}

#top-nav ul li:hover a{
    color: #9e9e9e;
}

#top-nav ul li a{
    color: #616161;
    text-decoration: none;
}

#ribbon{
    position: absolute;
    top: 0px;
}

#banner{
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
}

#banner h2{
    font-weight: bold;
}

#banner h4, p{
    font-weight: lighter;
}

.share-social{
    margin:0;
    padding: 20px 0px;
    background-color: #f5f5f5;
    vertical-align: center;
    font-family: Montserrat;
}

.share-social p,
.share-social a{
   margin: 0;
   padding: 0;
   display: inline-block;
   vertical-align: center;
}

.share-social a{
    font-size: 30px;
    text-decoration: none;
    position: relative;
    margin-right: 70px;
}

.share-social .tooltiptext{
    position: absolute;
    display: inline-block;
    background-color: #f5f5f5;
    top: 4px;
    left: 30px;
    color: #9e9e9e;
    height: 25px;
    width: 60px;
    font-size: 15px;
    text-align: center;
    padding: 4px 0;
    border: 1px solid #9e9e9e;
    border-radius: 6px;
    font-family: sans-serif;

}

.share-social .tooltiptext::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #9e9e9e transparent transparent;
}

.bantuan{
    background-color: #0091EA;
    padding: 40px 0px;
    font-family: Montserrat;
}

#heading-bantuan{
    height: 100px;
    border-right: 2px solid #039BE5;
}

#heading-bantuan h1,h2,h3{
    margin:0;
    padding: 10px 0px;
    color:#fff;
    margin-top: 20px;
}

#bantuan-chat{
    height: 100px;
}

#bantuan-chat a{
    float: right;
    color:#fff;
    font-size: 30px;
    border: 1px solid #fff;
    padding: 2px 30px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 25px;
}

#bantuan-chat a:hover{
    color: #0091EA;
    background-color: #fff;
}


/*section4*/
.section4{
    background-color: #212121;
    color: #bdbdbd;
    padding-top: 40px;

}

.section4 .container .row{
    margin-top: 35px;
}

h5{
    margin-bottom: 25px;
    color: #616161;
    font-weight: bold;
}

.my-list{
    margin: 0;
    padding: 0;
}

.my-list li{
    list-style: none;
    padding: 5px 0px;
}

.my-list li:first-child{
    padding-top: 0px;
}

.my-list li a{
    text-decoration: none;
    color: #bdbdbd;
}

.my-list li a:hover{
    color: #e0e0e0;
}
/*end of row 1*/

#newsletter{
    position: relative;
}

#newsletter button{
    margin: 0;
    background-color: #0091EA;
    position: absolute;
    z-index: 2;
    top: 4px;
    right: 4px;
    border: none;
    border-radius: 20px;
    padding: 6px 10px;
    color: #f5f5f5;
}

#newsletter button:hover{
    background-color: #0277BD;
}

#newsletter input{
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    width: 100%;
}

#newsletter input:focus{
    outline: none;
}

.horizontal-list{
    padding: 0;
    margin: 0;
    float: right;
}

.horizontal-list li{
    list-style: none;
    float: left;
    padding-right: 30px;
}

.horizontal-list li:last-child{
    padding-right: 0px;
}

.horizontal-list li a{
    text-decoration: none;
    font-size: 20px;
    width: 45px;
    height: 45px;
    color: #9e9e9e;
    border: 2px solid #9e9e9e;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
}

.horizontal-list li a:hover{
    color: #00E676;
} /*end of row2*/


.payment{
    display: inline-block;
    height: 35px;
    width: auto;
    padding-right: 10px;
    color: #9e9e9e;
}

.payment:last-child{
    padding-right: 0px;
}
/*end of payment*/

#footer{
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 20px;
}

#footer #syarat p{
    float: right;
}

/*end of section4*/


.hr-black{
    border: 0;
    height: 1px;
    background: #151515;
    margin-right: 10px;
    margin-left: 10px;
}

@media(max-width:768px){

    #top-nav .container{
        text-align: center;
    }

    #top-nav p, #top-nav ul{
        float: none;
    }

    #top-nav p{
        margin-left: 8px;
        display: inline-block;
    }

    #ribbon{
        position: relative;
        display: inline-block;
    }

    #top-nav .container ul{
        display: inline-block;
        overflow: auto;
    }

    /*.navbar-inverse .container-fluid{
        width: 100%;
    }*/

    #MyNavbar, #MyNavbar .active a{
        background: #f5f5f5;
    }

    .bantuan{
        padding: 0px;
    }

    #heading-bantuan{
        text-align: center;
        padding: 20px 0px;
    }

    #heading-bantuan h2{
        font-size: 15px;
    }

    .share-social .container .row{
        text-align: center;
    }

    #bantuan-chat{
        text-align: center;
        padding: 10px 0px;
    }

    #bantuan-chat a{
        float: none;
    }

    .section4{
        padding-top: 10px;
    }

    .section4 .container .row{
        margin-top: 0px;
        text-align: center;
    }

    .section4 .container .row div{
        padding-top: 25px;
    }

    h5{
        margin: 25px 0px;
    }

    #newsletter button{
        z-index: 2;
        top: 29px;
    }

    #social-bottom{
        text-align: center;
    }

    #social-bottom ul{
        display: inline-block;
        float: none;
        overflow: auto;
    }

    #footer #syarat p{
        float: none;
        margin-bottom: 20px;
    }

    .hr-black{
        margin-right: 0px;
        margin-left: 0px;
    }
}
