<!DOCTYPE html>
<html>
<head>
    <title>Let it become a big thing</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</head>
<body>

    <nav id="top-nav" class="navbar">
        <div class="container">
            <img id="ribbon" src="assets/images/ribbon.png">
            <p><a href="#">Gratis Ebook 9 Cara Cerdas Menggunakan Domain</a> <a style="text-decoration: none;" href="#">[ x ]</a></p>
            <ul>
                <li><a href="#"><span class="fa fa-phone"></span> {{ phone_number }}</a></li>
                <li><a class="btn-bantuan-chat"><span class="fa fa-comments"></span> Live Chat</a></li>
                <li><a href="#"><span class="fa fa-user"></span> Member Area</a></li>
            </ul>
        </div>
    </nav>

    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a id="NavToggle" class="btn-bar navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <a class="navbar-brand" href="#">
                    <img src="assets/images/niagaweb.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="MyNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="active"><a href="#">Hosting</a></li> -->
                    <!-- <li><a href="#">Domain</a></li>
                    <li><a href="#">Server</a></li>
                    <li><a href="#">Website</a></li>
                    <li><a href="#">Affiliasi</a></li>
                    <li><a href="#">Promo</a></li>
                    <li><a href="#">Pembayaran</a></li>
                    <li><a href="#">Review</a></li>
                    <li><a href="#">Kontak</a></li>
                    <li><a href="#">Blog</a></li> -->

                    {% for hm in header_menu  %}
                        <li><a href="#">{{ hm }}</a></li>
                    {% endfor  %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="banner">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: #424242;">PHP Hosting</h2>
                <h4>Cepat, handal, penuh dengan modul PHP yang anda butuhkan</h4>
                <p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Solusi PHP untuk performa query yang lebih cepat</p>
                <p><i style="color: #00C853; font-size: 15px;" class="fa fa-check-circle" aria-hidden="true"></i> Konsumsi memory yang lebih rendah</p>
                <p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6 dan PHP 7</p>
                <p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Fitur enkripsi ionCube dan Zend Guard Loaders</p>
            </div>
            <div class="col-md-6">
                <img src="assets/images/banner.png" class="img-responsive">
            </div>
        </div>
    </div>
    <section class="share-social">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p style="color:#212121;">Bagikan jika Anda menyukai halaman ini.</p>
                </div>
                <div class="col-md-6">
                    <a href="#" style="color: #0D47A1" class="fa fa-facebook-square"><span class="tooltiptext">80k</span></a>
                    <a href="#" style="color: #1E88E5" class="fa fa-twitter-square"><span class="tooltiptext">450</span></a>
                    <a href="#" style="color: #DD2C00" class="fa fa-google-plus-square"><span class="tooltiptext">1900</span></a>
                </div>
            </div>
        </div>
    </section>

    <section class="bantuan">
        <div class="container">
            <div class="row">
                <div id="heading-bantuan" class="col-md-8">
                    <h2 >Perlu <strong>BANTUAN?</strong> Hubungi Kami : <strong>{{ phone_number }}</strong></h2>
                </div>
                <div id="bantuan-chat" class="col-md-4">
                    <a class="btn-bantuan-chat" >
                        <span class="fa fa-comments"></span> Live Chat
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>HUBUNGI KAMI</h5>
                    <p>{{ phone_number }}</p>
                    <p>Senin - Minggu</p>
                    <p>24 Jam Nonstop</p>
                    <p>{{ company_address }}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>LAYANAN</h5>
                    <ul class="my-list" id="layanan">
                        <!-- <li class="layanan-item"><a href="#">Domain</a></li>
                        <li class="layanan-item"><a href="#">Shared Hosting</a></li>
                        <li class="layanan-item"><a href="#">Cluod VPS Hosting</a></li>
                        <li class="layanan-item"><a href="#">Web Builder</a></li>
                        <li class="layanan-item"><a href="#">Keamanan SSL / HTTPS</a></li>
                        <li class="layanan-item"><a href="#">Jasa Pembuatan Website</a></li>
                        <li class="layanan-item"><a href="#">Program Affiliasi</a></li> -->
                        {% for list in footer_menu.layanan %}
                            <li class="layanan-item"><a href="#">{{ list }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>SERVICE HOSTING</h5>
                    <ul class="my-list" id="service-hosting">
                        <!-- <li class="layanan-item"><a href="#">Hosting Murah</a></li>
                        <li class="layanan-item"><a href="#">Hosting Indonesia</a></li>
                        <li class="layanan-item"><a href="#">Hosting Singapura SG</a></li>
                        <li class="layanan-item"><a href="#">Hosting PHP</a></li>
                        <li class="layanan-item"><a href="#">Hosting Wordpress</a></li>
                        <li class="layanan-item"><a href="#">Hosting Laravel</a></li> -->
                        {% for list in footer_menu.service_hosting %}
                            <li class="service-hosting-item"><a href="#">{{ list }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>TUTORIAL</h5>
                    <ul class="my-list" id="service-hosting">
                        <!-- <li class="layanan-item"><a href="#">Knowledgebase</a></li>
                        <li class="layanan-item"><a href="#">Blog</a></li>
                        <li class="layanan-item"><a href="#">Cara Pembayaran</a></li> -->
                        {% for list in footer_menu.tutorial %}
                            <li class="tutorial-item"><a href="#">{{ list }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div> <!-- end of layanan, service hosting, tutorial -->

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>TENTANG KAMI</h5>
                    <ul class="my-list" id="about">
                        <!-- <li class="layanan-item"><a href="#">Tim Niagahoster</a></li>
                        <li class="layanan-item"><a href="#">Karir</a></li>
                        <li class="layanan-item"><a href="#">Events</a></li>
                        <li class="layanan-item"><a href="#">Penawaran &mamp; Promo Spesial</a></li>
                        <li class="layanan-item"><a href="#">Kontak Kami</a></li> -->
                        {% for list in footer_menu.tentang_kami %}
                            <li class="tentang-item"><a href="#">{{ list }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>KENAPA PILIH NIAGA HOSTER</h5>
                    <ul class="my-list" id="why-us">
                        <!-- <li class="layanan-item"><a href="#">Support Terbaik</a></li>
                        <li class="layanan-item"><a href="#">Garansi Harga Termurah</a></li>
                        <li class="layanan-item"><a href="#">Domain Gratis Selamanya</a></li>
                        <li class="layanan-item"><a href="#">Datacenter Hosting Terbaik</a></li>
                        <li class="layanan-item"><a href="#">Review Pelanggan</a></li> -->
                        {% for list in footer_menu.kenapa_kami %}
                            <li class="kenapa-item"><a href="#">{{ list }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>NEWSLETTER</h5>
                    <div class="form-group" id="newsletter">
                        <input type="text" placeholder="Email">
                        <button>Berlangganan</button>
                    </div>
                    <p style="font-weight: lighter; color: #616161;">Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</p>
                </div>
                <div id="social-bottom" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>&nbsp;</h5>
                    <ul class="horizontal-list">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                    </ul>
                </div>
            </div> <!-- end of tentang kami, kenapa memilih, newsletter -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>PEMBAYARAN</h5>
                    <div class="flex-container">
                        <!-- <img src="assets/svg/payment_method/logo-bca-bordered.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/mandiriclickpay.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/logo-bni-bordered.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/visa.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/mastercard.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/atmbersama.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/permatabank.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/prima.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/alto.svg" class="payment img-responsive"> -->
                        {% for list in footer_menu.pembayaran %}
                            <img src="assets/svg/payment_method/{{ list }}.svg" class="payment img-responsive">
                        {% endfor %}
                    </div>
                    <p style="font-weight: lighter; padding: 20px 0px; color: #616161;">Aktivasi instan dengan e-Payment Hosting dan domain langsung aktf!</p>
                </div>
            </div> <!-- end of payment method -->

            <div class="row" id="footer">
                <hr class="hr-black">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center">
                    <p>Copyright &copy;2017 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta</p>
                    <p>Cloud VPS Murah powered by  Webuzo Softaculous, Intel SSD, and cloud computing technology</p>
                </div>
                <div id="syarat" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p>Syarat dan Ketentuan | Kebijakan Privasi</p>
                </div>
            </div> <!-- end of payment method -->
        </div>
    </section> <!-- end of section 4 -->

    <script type='text/javascript'>
(function(){ var widget_id = 'c7T8R4IMdV';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.btn-bantuan-chat').click(function(e){
                e.preventDefault();
                jivo_api.open();
                // alert("hello");
            });
        });
    </script>
</body>
</html>
