<!DOCTYPE html>
<html>
<head>
    <title>Let it become a big thing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="btn-bar navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</a>
				<a class="navbar-brand" href="#">
					<img src="assets/img/idweb.png">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="MyNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Hosting</a></li>
					<li><a href="#">Domain</a></li>
					<li><a href="#">Server</a></li>
					<li><a href="#">Website</a></li>
					<li><a href="#">Affiliasi</a></li>
					<li><a href="#">Promo</a></li>
					<li><a href="#">Pembayaran</a></li>
					<li><a href="#">Review</a></li>
					<li><a href="#">Kontak</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>PHP Hosting</h2>
				<h4>Cepat, handal, penuh dengan modul PHP yang anda butuhkan</h4>
				<p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Solusi PHP untuk performa query yang lebih cepat</p>
				<p><i style="color: #00C853; font-size: 15px;" class="fa fa-check-circle" aria-hidden="true"></i> Konsumsi memory yang lebih rendah</p>
				<p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6 dan PHP 7</p>
				<p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Fitur enkripsi ionCube dan Zend Guard Loaders</p>
            </div>
            <div class="col-md-6">
                <img src="assets/img/bootstrap2.jpg" class="img-responsive">
            </div>
		</div>
	</div>
	<section class="share-social">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p style="color:#212121;">Bagikan jika Anda menyukai halaman ini</p>
				</div>
				<div class="col-md-6">
					<a href="#" style="color:#0D47A1" class="fa fa-facebook-square"></a>
					<a href="#" style="color: #1E88E5
					" class="fa fa-twitter-square"></a>
					<a href="#" style="color: #DD2C00
					" class="fa fa-google-plus-square"></a>
				</div>
			</div>
		</div>
	</section>

	<section class="bantuan">
		<div class="container">
			<div class="row">
				<div id="heading-bantuan" class="col-md-8">
					<h3 >Perlu <strong>BANTUAN?</strong> Hubungi Kami:<strong>02742323333</strong></h3>
				</div>
				<div id="bantuan-chat" class="col-md-4">
					<a href="#">
						<span class="fa fa-comments"></span> Chat
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="section4">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h5>HUBUNGI KAMI</h5>
					<p>0274-5305505</p>
					<p>Senin - Minggu</p>
					<p>24 Jam Nonstop</p>
					<p>Jl. Perintis Kemerdekaan No 33 Umbulharjo Yogyakarta</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h5>LAYANAN</h5>
					<p>0274-5305505</p>
					<p>Senin - Minggu</p>
					<p>24 Jam Nonstop</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h5>SERVICE HOSTING</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<h5>TUTORIAL</h5>
					<p>0274-5305505</p>
					<p>Senin - Minggu</p>
					<p>24 Jam Nonstop</p>
				</div>
			</div>
		</div>
	</section>
	
	
</body>
</html>
