<!DOCTYPE html>
<html>
<head>
    <title>Let it become a big thing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <nav id="top-nav" class="navbar">
        <div class="container">
            <p>Gratis Ebook 9 Cara Cerdas Menggunakan Domain <a href="#">[x]</a></p>
            <ul>
                <li><a href="#"><span class="fa fa-phone"></span> 0274-5305505</a></li>
                <li><a href="#"><span class="fa fa-comments"></span> Live Chat</a></li>
                <li><a href="#"><span class="fa fa-user"></span> Member Area</a></li>
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="btn-bar navbar-toggle" data-toggle="collapse" data-target="#MyNavbar">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <a class="navbar-brand" href="#">
                    <img src="assets/images/niagaweb.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="MyNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Hosting</a></li>
                    <li><a href="#">Domain</a></li>
                    <li><a href="#">Server</a></li>
                    <li><a href="#">Website</a></li>
                    <li><a href="#">Affiliasi</a></li>
                    <li><a href="#">Promo</a></li>
                    <li><a href="#">Pembayaran</a></li>
                    <li><a href="#">Review</a></li>
                    <li><a href="#">Kontak</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>PHP Hosting</h2>
                <h4>Cepat, handal, penuh dengan modul PHP yang anda butuhkan</h4>
                <p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Solusi PHP untuk performa query yang lebih cepat</p>
                <p><i style="color: #00C853; font-size: 15px;" class="fa fa-check-circle" aria-hidden="true"></i> Konsumsi memory yang lebih rendah</p>
                <p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Support PHP 5.3, PHP 5.4, PHP 5.5, PHP 5.6 dan PHP 7</p>
                <p><i style="color: #00C853; font-size: 16px;" class="fa fa-check-circle" aria-hidden="true"></i> Fitur enkripsi ionCube dan Zend Guard Loaders</p>
            </div>
            <div class="col-md-6">
                <img src="assets/img/bootstrap2.jpg" class="img-responsive">
            </div>
        </div>
    </div>
    <section class="share-social">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p style="color:#212121;">Bagikan jika Anda menyukai halaman ini</p>
                </div>
                <div class="col-md-6">
                    <a href="#" style="color:#0D47A1" class="fa fa-facebook-square"></a>
                    <a href="#" style="color: #1E88E5
                    " class="fa fa-twitter-square"></a>
                    <a href="#" style="color: #DD2C00
                    " class="fa fa-google-plus-square"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="bantuan">
        <div class="container">
            <div class="row">
                <div id="heading-bantuan" class="col-md-8">
                    <h2 >Perlu <strong>BANTUAN?</strong> Hubungi Kami:<strong>02742323333</strong></h2>
                </div>
                <div id="bantuan-chat" class="col-md-4">
                    <a href="#">
                        <span class="fa fa-comments"></span> Live Chat
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>HUBUNGI KAMI</h5>
                    <p>0274-5305505</p>
                    <p>Senin - Minggu</p>
                    <p>24 Jam Nonstop</p>
                    <p>Jl. Perintis Kemerdekaan No 33 Umbulharjo Yogyakarta</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>LAYANAN</h5>
                    <ul class="my-list" id="layanan">
                        <li class="layanan-item"><a href="#">Domain</a></li>
                        <li class="layanan-item"><a href="#">Shared Hosting</a></li>
                        <li class="layanan-item"><a href="#">Cluod VPS Hosting</a></li>
                        <li class="layanan-item"><a href="#">Web Builder</a></li>
                        <li class="layanan-item"><a href="#">Keamanan SSL / HTTPS</a></li>
                        <li class="layanan-item"><a href="#">Jasa Pembuatan Website</a></li>
                        <li class="layanan-item"><a href="#">Program Affiliasi</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>SERVICE HOSTING</h5>
                    <ul class="my-list" id="service-hosting">
                        <li class="layanan-item"><a href="#">Hosting Murah</a></li>
                        <li class="layanan-item"><a href="#">Hosting Indonesia</a></li>
                        <li class="layanan-item"><a href="#">Hosting Singapura SG</a></li>
                        <li class="layanan-item"><a href="#">Hosting PHP</a></li>
                        <li class="layanan-item"><a href="#">Hosting Wordpress</a></li>
                        <li class="layanan-item"><a href="#">Hosting Laravel</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>TUTORIAL</h5>
                    <ul class="my-list" id="service-hosting">
                        <li class="layanan-item"><a href="#">Knowledgebase</a></li>
                        <li class="layanan-item"><a href="#">Blog</a></li>
                        <li class="layanan-item"><a href="#">Cara Pembayaran</a></li>
                    </ul>
                </div>
            </div> <!-- end of layanan, service hosting, tutorial -->

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>TENTANG KAMI</h5>
                    <ul class="my-list" id="about">
                        <li class="layanan-item"><a href="#">Tim Niagahoster</a></li>
                        <li class="layanan-item"><a href="#">Karir</a></li>
                        <li class="layanan-item"><a href="#">Events</a></li>
                        <li class="layanan-item"><a href="#">Penawaran &mamp; Promo Spesial</a></li>
                        <li class="layanan-item"><a href="#">Kontak Kami</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>KENAPA PILIH NIAGA HOSTER</h5>
                    <ul class="my-list" id="why-us">
                        <li class="layanan-item"><a href="#">Support Terbaik</a></li>
                        <li class="layanan-item"><a href="#">Garansi Harga Termurah</a></li>
                        <li class="layanan-item"><a href="#">Domain Gratis Selamanya</a></li>
                        <li class="layanan-item"><a href="#">Datacenter Hosting Terbaik</a></li>
                        <li class="layanan-item"><a href="#">Review Pelanggan</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>NEWSLETTER</h5>
                    <div class="form-group" id="newsletter">
                        <input type="text" placeholder="Email">
                        <button>Berlangganan</button>
                    </div>
                    <p>Dapatkan promo dan konten menarik dari penyedia hosting terbaik Anda.</p>
                </div>
                <div id="social-bottom" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h5>&nbsp;</h5>
                    <ul class="horizontal-list">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                    </ul>
                </div>
            </div> <!-- end of tentang kami, kenapa memilih, newsletter -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5>PEMBAYARAN</h5>
                    <a href="#">
                        <img src="assets/svg/payment_method/logo-bca-bordered.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/mandiriclickpay.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/logo-bni-bordered.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/visa.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/mastercard.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/atmbersama.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/permatabank.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/prima.svg" class="payment img-responsive">
                        <img src="assets/svg/payment_method/alto.svg" class="payment img-responsive">
                    </a>
                    <p style="padding: 20px 0px; color: #616161;">Aktivasi instan dengan e-Payment Hosting dan domain langsung aktf!</p>
                </div>
            </div> <!-- end of payment method -->

            <div class="row" id="footer">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <p>Copyright &copy;2017 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and DC Biznet Technovillage Jakarta</p>
                    <p>Cloud VPS Murah powered by  Webuzo Softaculous, Intel SSD, and cloud computing technology</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p>Syarat dan Ketentuan | Kebijakan Privasi</p>
                </div>
            </div> <!-- end of payment method -->
        </div>
    </section> <!-- end of section 4 -->

    <script type='text/javascript'>
(function(){ var widget_id = 'c7T8R4IMdV';var d=document;var w=window;function l(){
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();</script>
</body>
</html>
