<!DOCTYPE html>
<html>
<head>
    <title>We called it home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body>
    <!-- <div class="container clearfix">
        <div class="row top-nav">
            <div style="border: 1px solid blue">
                <p>This is col one sfdsfds hdsfkjhdskj sdjhfkjyfuei aksjhf jsdfudsjfj u kjdhfkjs dhfk </p>
            </div>
            <div style="border: 1px solid blue">
                <p>This is col two sfdsfdsfds asdfdsfdsf twertwerewr hrtht ukiyukhgfhgfhyui67 76i 67i567</p>
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </div> -->

    <div class="container-fluid">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="tiny material-icons">phone</i> 0274-5305505</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="tiny material-icons">forum</i> Live Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="tiny material-icons">account_circle</i> Member Area</a>
        </li>
      </ul>
    </div>

    <div class="container">
        <div class="row" style="border: 1px solid black">

        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> -->

</body>
</html>
